@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

.menu {
    width: 25vw;
    height: 50vh;

    margin-left: 73vw;
}

.titre {
    font-family: "Big Shoulders Display", sans-serif;
    color: #1e5cad;
    font-size: 500%;
    text-align: center;
}
