@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

.ContainerSignalisation {
    position: absolute;
    top: 8%;
    left: 1.5%;
}

.ContainerFormulaireSignalisation {
    display: flex;
    flex-direction: column;

    background-color: #fdfdfd;

    padding: 5%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bloc {
    margin: 17% 0;
}

.BoutonSignalisation {
    background-color: #af0000;
    color: #ffffff;

    margin-top: 3%;
    border: 0px solid;
    border-radius: 2px;
    padding: 7%;
    font-weight: 400;
}

.BoutonEnvoie {
    background-color: #1e5cad;
    color: #ffffff;

    margin-top: 3%;
    border: 0px solid;
    border-radius: 5%;
    padding: 7%;
    font-weight: 400;
}

.ContainerGéocalisation {
    position: absolute;
    right: 25.8%;
    top: 8%;
}

.BoutonGéolocalisation {
    background-color: #ffffff;
    width: 250%;
    border: 0px solid transparent;
    border-radius: 5%;
    padding: 5% 4%;
    font-size: 140%;
}
